.student-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    color: #333;
    background: linear-gradient(45deg, #5399ae, #51d0da #5aa3cd, #3cc6d0 #3985b1, #3c7e9a);
    padding: 5px;
    width: 80%;
    margin: 40px auto; 
    border-collapse: collapse;
  }
  
  .student-table th,
  .student-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #8e117d;
    padding: 5px;
  margin-right: 800px
  }
  
  .student-table th {
    background-color: #1c7e92;
    color: #10c425;
    padding: 5px;
  margin-right: 800px
  }
  